@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
::-webkit-scrollbar{
  display: none;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.bg{
  background-image: url(./Image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px){
.bg{
  background-size: cover;
}

}