
.container2{
    height: 80vh;
    max-width: 90%;
    background-color: rgb(237, 235, 245);
    margin-top:5%;
    margin-left: 4%;
    margin-bottom: 10%;
    padding:50px;
    justify-content: space-around;
    align-items: center;
    display: flex;

}




.aboutSection2 {
    height: 60vh;
    border-radius: 10px;
    width: 40vw;
    background-color: rgb(226, 69, 187);
    padding: .5em 1.5em;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 6%;
    

  }
  
  .aboutSectionGradient2 {
    height: 60vh;
    border-radius: 10px;
    width: 30vw;
    background-color: rgb(195, 102, 226);
    padding: .5em 1.5em;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .container2 h2 {
      display: flex;
      font-family: 'Algerian';
      width:auto;
      text-align: center;
  }    
  .container2 p{
      text-align: justify;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 200;
  }