*{
  margin: 0;
  padding: 0;
}
.A-container{
  width: 100%;
}
.A-app-wrapper {
  min-width: 250px;
  min-height: 650px;
  padding: 1px;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
}
.A-title{
  color: #f80759;
  width: 100%;
  text-align: center;
  margin: 80px 0px 40px 0px;
}
.A-name{
  margin: 20px;
  color: #969292;
  font-size: 16px;
}
.A-fullname,
.A-signinemail,
.A-signinpassword{
  margin: 20px;
  color: #969292;
  font-size: 16px;
}
.A-fullname{
margin-top: 5px;
}
.A-name{
display: flex;
justify-content: space-between;
align-items: center;
}
.A-password{
  margin-bottom: 40px;
}
.A-Lname,
.A-Fname,
.A-DOB,
.A-ph,
.A-email,
.A-uname,
.A-npassword,
.A-cpassword{
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 45%;
  margin-bottom: 5px;
}
.A-input {
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 30px;
}
.A-error {
  color: red;
}
.A-modalBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.A-modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.A-modalContainer .A-title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.A-body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}
.A-footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 2048px){
  .A-modalContainer {
      width: 450px;
      height: 600px;
      margin-bottom: 100px;
      border-radius: 12px;
      flex-direction: column;
    }
  .A-fullname,
  .A-signinemail,
  .A-signinpassword{
    margin-top: -10px;
  }
    .A-app-wrapper {
      text-align: center;
  }
  .A-error {
    font-size: 14px;
    margin-top: -29px;
}
  .A-name{
      margin: 20px;
      color: #969292;
      font-size: 14px;
  }
  .A-label{
    font-size: 17px;
  }
  .A-input {
      height: 18px;
  }
  .A-footer button {
      width: 180px;
      height: 50px;
      margin-top: 35px;
      padding: 2px;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
    }
}
@media screen and (max-width: 768px){
  .A-modalContainer {
      width: 400px;
      height: 500px;
      margin-bottom: 150px;
      border-radius: 12px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.A-35) 0px 5px 15px;
      display: flex;
      flex-direction: column;
      padding: 25px;
    }
    .A-app-wrapper {
      text-align: center;

  }
  .A-fullname,
  .A-signinemail,
  .A-signinpassword{
    font-size: 14px;
    height: 50px;
    margin-top: -10px;
  }
  .A-name{
      margin: 30px;
      color: #969292;
      font-size: 14px;
  }
  .A-input {
      height: 15px;
      font-size: 14px;
      margin-bottom: 10px;
  }
  .A-Lname,
  .A-Fname,
  .A-DOB,
  .A-ph,
  .A-email,
  .A-uname,
  .A-npassword,
  .A-cpassword { 
    height: 15px;
    font-size: 14px;
    margin-bottom: 5px;
}
  .A-modalContainer .A-footer button {
      width: 120px;
      height: 40px;
      padding: 5px;
      border: none;
      background-color: cornflowerblue;
      color: white;
      border-radius: 10px;
      font-size: 12px;
      cursor: pointer;
    }
}
@media screen and (max-width: 546px){
  .A-modalContainer {
      width: 300px;
      height: 400px;
      margin-bottom: 200px;
    }
    .A-app-wrapper {
        font-size: 10px;
        text-align: center;
        width: 200px;
        height: 400px;
  }
  .A-title{
      text-align: center;
  }
  .A-name{
      margin: 10px;
      color: #969292;
      font-size: 12px;
  }
  .A-input {
      height: 13px;
      font-size: 12px;
  }
  .A-error {
      color: red;
      font-size: 10px;
      margin-top: -10px;
  }
  .A-label{
    font-size: 12px;
  }
  .A-Lname,
  .A-Fname,
  .A-DOB,
  .A-ph,
  .A-email,
  .A-uname,
  .A-npassword,
  .A-cpassword{
    height: 12px;
  font-size: 12px;
  margin-bottom: 20px;
  }
  .A-modalContainer .A-footer button {
      width: 100px;
      height: 30px;
      padding: 5px;
      border: none;
      background-color: cornflowerblue;
      color: white;
      border-radius: 10px;
      font-size: 10px;
      cursor: pointer;
    }
}