footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: .5em;
}
 .line{
    width: 30%;
 }
 hr{
     margin-bottom: .5em;
 }
 .icon{
     margin-right: 1em;
     color: white;
 }
.copyright{
    text-align: center;
    color: white;
    margin-bottom: .5em;
}
@media screen and (max-width: 1024px){
    .line{
        width: 40%;
     }
}
@media screen and (max-width: 568px){
    hr{
        display: none;
    }
}