footer{
    margin-top: -7px;
    background-color: rgb(168, 158, 158);
    width: 100%;
    padding: .5em;
}
 .A-line{
    width: 30%;
 }
 hr{
     margin-bottom: .5em;
 }
 .A-icon{
     margin-right: 1em;
     color: white;
 }
.A-copyright{
    text-align: center;
    color: white;
    margin-bottom: .5em;
}
@media screen and (max-width: 1024px){
    .A-line{
        width: 40%;
     }
}
@media screen and (max-width: 768px){
    footer{
        margin-top: 165px;
    }
}
@media screen and (max-width: 568px){
    hr{
        display: none;
    }
    footer{
        margin-top: 160px;
    }
}