.A-mainSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    padding: 50px;
    height: 80vh;
}
.A-contentBox{
    border-radius: 10px;
    width: 40%;
    height: 70vh;
    background-color: rgb(185, 179, 179);
    padding: .5em 1.5em;
}
.A-contentBox h1{
    font-size: 1.5rem;
    color: #301934;
}
.A-contentBox p{
    font-size: 1rem;
    margin: 1em 0;
    font-family: 'Poppins', sans-serif;
}
.wel-note{
    border-radius: 10px;
    width: 100%;
    background-color: rgb(185, 179, 179);
    padding: .5em 1.5em;
    margin-bottom: 60px;
}
.right-contentBox{
    border-radius: 10px;
    width: 40%;
    padding:5px;
}
.A-btn{
    margin-bottom: 1rem;
    text-align: center;
}
.A-Signup,
.A-Signin {
    border: 2px solid black;
    border: none;
    background-color: rgb(192, 107, 143);
    border-radius: .5em;
    padding: .5em 1.5em;
    display: inline-block;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}
.A-Signin:hover,
.A-Signup:hover{
    background-color: brown;
    overflow: hidden;
    color: white;
}

@media screen and (max-width:900px){
    html{
        font-size: 14px;
    }
}

@media screen and (max-width:768px){
    html{
        font-size: 14px;
    }
    .A-mainSection{
        flex-direction: column;
        margin-top: 1em;
    }
    .right-contentBox{
        border-radius: 10px;
        width: 50%;
        padding:5px;
    }
    .A-contentBox {
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 5rem;
        
    }
    .A-contentBox h1{
        font-size: 1rem;
    }
    .A-contentBox p{
        font-size: .9rem;
    }

    .A-btnBox{
        width: 80%;
    }
}
@media screen and (max-width:400px){
    .A-btnBox{
        width: 60%;
    }
}