.IB-mainContainer{
    width: 200px;
    height: 100%;
    background: rgb(92, 91, 91);
}
.infobar{
    text-align: left;
    width: 200px;
}
ul{
    padding: 0;
    margin-top: 10%;
}
ul li{
    list-style-type: none;
    padding: 15px;
    background: rgb(83, 82, 82);
    margin-top: 1px;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 2px;
    font-size: 18px;
}
ul :hover{
    background: rgb(56, 55, 55);
}
@media screen and (max-width: 768px){
    .IB-mainContainer{
        width: 100px;
        height: 100%;
    }
    .infobar{
        text-align: left;
        width: 100px;
    }
    ul{
        padding: 0;
        margin-top: 10%;
    }
    ul li{
        list-style-type: none;
        padding: 15px;
        margin-top: 1px;
    }
    ul li a{
        padding: 2px;
        font-size: 12px;
    }
}
@media screen and (max-width: 546px){
    .IB-mainContainer{
        width: 60px;
        height: 100%;
    }
    .infobar{
        text-align: left;
        width: 60px;
    }
    ul{
        padding: 0;
        margin-top: 10%;
    }
    ul li{
        list-style-type: none;
        padding: 12px;
        margin-top: 1px;
    }
    ul li a{
        padding: 2px;
        font-size: 10px;
    }
}