:root{
    --mainColor:#8B008B;
}
header{
    background-color: var(--mainColor);
}
.A-container{
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}
.A-container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    width: 130px;
    padding: .5rem 0;
}
.A-list{
    display: flex;
}
.A-listItem{
    margin-left: 2em;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
.A-activeItem{
    color: orange;
    border-bottom: .1em double #fff;
}

@media screen and (max-width: 768px){
html{
    font-size: 13px;
}
.A-container-flex{
    flex-direction: column;
}
h2{
 width: 50%;
}
}
@media screen and (max-width: 568px){
    html{
        font-size: 11px;
    }
    .A-list{
        flex-direction: column;
    }
    .A-listItem{
        margin-top: .2em;
    }
}