*{
  margin: 0;
  padding: 0;
}
.SG-container{
  width: 100%;
}
.SG-app-wrapper {
  min-width: 250px;
  min-height: 650px;
  padding: 1px;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
}
.SG-title{
  color: #f80759;
  width: 100%;
  text-align: center;
  margin: 80px 0px 40px 0px;
}
.SG-name{
  margin: 20px;
  color: #969292;
  font-size: 16px;
}
.SG-username,
.SG-signinpassword{
  margin: 20px;
  color: #969292;
  font-size: 16px;
}
.SG-username{
margin-top: 5px;
}
.SG-name{
display: flex;
justify-content: space-between;
align-items: center;
}
.SG-password{
  margin-bottom: 40px;
}
.SG-Lname,
.SG-Fname,
.SG-DOB,
.SG-ph,
.SG-email,
.SG-uname,
.SG-npassword,
.SG-cpassword{
  height: 50px;
  font-size: 20px;
  outline: none;
  width: 45%;
  margin-bottom: 5px;
}
.SG-input {
  outline: none;
  width: 100%;
  background-color: transparent;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 30px;
}
.SG-error {
  color: red;
}
.SG-modalBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SG-modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.SG-modalContainer .SG-title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.SG-body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}
.SG-footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 2048px){
  .SG-modalContainer {
      width: 450px;
      height: 600px;
      margin-bottom: 100px;
      border-radius: 12px;
      flex-direction: column;
    }
  .SG-username,
  .SG-signinpassword{
    margin-top: -10px;
  }
    .SG-app-wrapper {
      text-align: center;
  }
  .SG-error {
    font-size: 14px;
    margin-top: -29px;
}
  .SG-name{
      margin: 20px;
      color: #969292;
      font-size: 14px;
  }
  .SG-label{
    font-size: 17px;
  }
  .SG-input {
      height: 18px;
  }
  .SG-footer button {
      width: 150px;
      height: 50px;
      padding: 2px;
      border-radius: 10px;
      font-size: 14px;
      cursor: pointer;
    }
}
@media screen and (max-width: 768px){
  .SG-modalContainer {
      width: 400px;
      height: 500px;
      margin-bottom: 150px;
      border-radius: 12px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.SG-35) 0px 5px 15px;
      display: flex;
      flex-direction: column;
      padding: 25px;
    }
    .SG-app-wrapper {
      text-align: center;

  }
  .SG-username,
  .SG-signinpassword{
    font-size: 14px;
    height: 50px;
    margin-top: -10px;
  }
  .SG-name{
      margin: 30px;
      color: #969292;
      font-size: 14px;
  }
  .SG-input {
      height: 15px;
      font-size: 14px;
      margin-bottom: 10px;
  }
  .SG-Lname,
  .SG-Fname,
  .SG-DOB,
  .SG-ph,
  .SG-email,
  .SG-uname,
  .SG-npassword,
  .SG-cpassword { 
    height: 15px;
    font-size: 14px;
    margin-bottom: 5px;
}
  .SG-modalContainer .SG-footer button {
      width: 120px;
      height: 40px;
      padding: 5px;
      border: none;
      background-color: cornflowerblue;
      color: white;
      border-radius: 10px;
      font-size: 12px;
      cursor: pointer;
    }
}
@media screen and (max-width: 546px){
  .SG-modalContainer {
      width: 300px;
      height: 400px;
      margin-bottom: 200px;
    }
    .SG-app-wrapper {
        font-size: 10px;
        text-align: center;
        width: 200px;
        height: 400px;
  }
  .SG-title{
      text-align: center;
  }
  .SG-name{
      margin: 10px;
      color: #969292;
      font-size: 12px;
  }
  .SG-input {
      height: 13px;
      font-size: 12px;
  }
  .SG-error {
      color: red;
      font-size: 10px;
      margin-top: -10px;
  }
  .SG-label{
    font-size: 12px;
  }
  .SG-Lname,
  .SG-Fname,
  .SG-DOB,
  .SG-ph,
  .SG-email,
  .SG-uname,
  .SG-npassword,
  .SG-cpassword{
    height: 12px;
  font-size: 12px;
  margin-bottom: 20px;
  }
  .SG-modalContainer .SG-footer button {
      width: 100px;
      height: 30px;
      padding: 5px;
      border: none;
      background-color: cornflowerblue;
      color: white;
      border-radius: 10px;
      font-size: 10px;
      cursor: pointer;
    }
}