footer{
    margin-top: -7px;
    background-color: rgb(168, 158, 158);
    width: 100%;
    padding: .5em;
    font-family: 'Poppins', sans-serif;
}
 .LP_F-line{
    width: 30%;
    position: relative;
    left: 35%;
 }
 hr{
     margin-bottom: .5em;
 }
 .LP_F-icon{
     margin-right: 1em;
     color: white;
     position: relative;
     top: 20px;
 }
.LP_F-copyright{
    text-align: right;
    color: white;
    margin-bottom: .5em;
    position: relative;
    bottom: 30px;
}
@media screen and (max-width: 1024px){
    .LP_F-line{
        width: 40%;
     }
}
@media screen and (max-width: 768px){
    footer{
        margin-top: 165px;
    }
}
@media screen and (max-width: 568px){
    hr{
        display: none;
    }
    footer{
        margin-top: 160px;
    }
}