.MN-Container{
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}
nav{
    background-color: rgb(168, 158, 158);
    width: 50%;
    border-radius: 0px 5px;
    padding: 2em;
    position: absolute;
    left: 50%;
}
.MN-Container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    width: 130px;
    padding: .5rem 0;
    color: white;
}
.MN-list{
    display: flex;
}
.MN-listItem{
    margin-left: 2em;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
.MN-activeItem{
    color: rgb(233, 49, 89);
    overflow: hidden;
    border-bottom: .1em double #fff;
}
@media screen and (max-width: 768px){
    html{
        font-size: 13px;
    }
    .MN-Container-flex{
        flex-direction: column;
    }
    h2{
     width: 50%;
    }
    nav{
        background-color: transparent;
        width: 65%;
        margin-top: 10px;
        position: absolute;
        left: 24%;
    }
    .MN-Container{
        height: 15vh;
    }
}
    @media screen and (max-width: 568px){
        html{
            font-size: 11px;
        }
        .MN-list{
            flex-direction: column;
        }
        .MN-listItem{
            margin-top: .2em;
        }
        nav{
            background-color: transparent;
            width: 30%;
            margin-top: 10px;
            position: absolute;
            left: 36%;
        }
        .MN-Container{
            height: 15vh;
        }
    }