.PF-MainContainer{
    color: white;
    width: 100%;
    height: 83vh;
    text-align: center;
    margin-top: 0%;
    font-family: 'Poppins', sans-serif;
}
.PF-bottomContainer{
    padding: 0,1em;
    position: relative;
    top: 65px;
    width: 1000px;
    height: 350px;
    left: 200px;
    background: rgb(168, 158, 158);
    display: flex;
}
.PF-userinfo{
    position: relative;
    left: 80px;
    top: 15px;
    text-align: left;
    width: 70%;
    height: 40vh;
    padding: 10px;
    background: rgb(78, 77, 77);
}
.PF-topContainer{
    position: relative;
    top: 50px;
    left: 200px;
    height: 130px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
img{
    width: 120px;
    height: 128px;
}
.img{
    align-items: center;
    position: relative;
    background: rgb(168, 158, 158);
    right: 45px;
    width: 120px;
    height: 128px;
}
.uname_review{
    padding: 20px;
    position: relative;
    left: 44px;
    width: 700px;
}
.uname{
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    width: fit-content;
    font-size: 20px;
    background: rgb(58, 57, 57);
    margin-bottom: 20px;
}
button:hover{
    background: rgb(104, 101, 101);
}
.reviewbtn{
    margin-bottom: 3px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background: rgb(168, 158, 158);
    border: none;
    padding: 5px;
}
.editpfbtn{
    cursor: pointer;
    border-radius: 5px;
    color: white;
    position: relative;
    right: 505px;
    top: 55px;
    background: rgb(168, 158, 158);
    border: none;
    padding: 5px;
}
.review{
    width: 300px;
    align-items: center;
    font-size: 20px;
    background: rgb(58, 57, 57);
    padding-top: 3px;
    display: flex;
    justify-content: space-around;
}