.SB-mainContainer{
    position: absolute;
    left: 87%;
    
}
.head-text{ 
    font-size: 19px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50%; 
    background: rgb(168, 158, 158);;
    height: 20px;
    width: 200px;
}
.sidebar{
    text-align: left;
    width: 200px;
    background: rgb(168, 158, 158);
    position: absolute;
    height: 75vh;
    right: -100%;
}
.sidebar.active{
    right: 0;
}
ul{
    padding: 0;
    margin-top: 10%;
}
ul li{
    list-style-type: none;
    padding: 15px;
    background-color: rgb(83, 82, 82);
    margin-top: 1px;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 2px;
    font-size: 18px;
}
ul :hover,
ul .active{
    background: rgb(56, 55, 55);
}
@media screen and (max-width: 2048px){
    .SB-mainContainer{
        position: absolute;
        left: 87%;
        
    }
}
@media screen and (max-width: 768px){
    .SB-mainContainer{
        position: absolute;
        left: 81%;
        
    }
    .head-text{ 
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .head-container {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 50%; 
        height: 20px;
        width: 130px;
    }
    .sidebar{
        text-align: left;
        width: 130px;
        position: absolute;
        height: 68vh;
        right: -100%;
    }
}
@media screen and (max-width: 546px){
    .SB-mainContainer{
        position: absolute;
        left: 81%;
    }
    .head-text{ 
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .head-container {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 50%; 
        height: 20px;
        width: 105px;
    }
    .sidebar{
        text-align: left;
        width: 105px;
        position: absolute;
        height: 65vh;
        right: -100%;
    }
}
